.searchReminder {
  width: 400px;
  border: 1.5px solid rgb(242, 242, 242);
  border-radius: 100px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.searchFiltersIcon {
  background-color: #eb4e5f;
  padding: 7px;
  border-radius: 50%;
}

.line {
  border-top: 1px solid rgb(230, 229, 229);
  margin-bottom: 0px;
}

.line2 {
  border-top: 0.5px solid rgb(230, 230, 230);
  margin: 30px 0px;
}

.rentalsContent {
  display: flex;
  justify-content: start;
  height: calc(100vh - 135px);
}

.rentalsContentL {
  width: 50%;
  padding: 30px;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.rentalsContentR {
  width: 50%;
}

.rentalDiv {
  display: flex;
  justify-content: space-around;
}

.rentalDivH {
  animation: mymove 3s;
  border-radius: 20px;
  display: flex;
  justify-content: start;
}

@keyframes mymove {
  from {
    background-color: #dddddd;
  }
  to {
    background-color: #dddddd00;
  }
}
.rentalImg {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  margin-right: 20px;
}

.rentalInfo {
  padding: 10px;
  width: 100%;
}

.rentalTitle {
  font-size: 23px;
  margin-bottom: 15px;
}

.rentalDesc {

}

.bottomButton {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 700;
}

.price {
  display: flex;
  justify-content: end;
  gap: 5px;
  color: black;
  font-size: 12px;
}

.tabs {
  color: black;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.image1{
    width: 100%;
    height: 98.6%;
}
 
.image2{
    height: 100%;
} 

.second div img{
    width: 100%;
}

.image3{
    height:100%;
}

.tabscolor{
    color: black;
    line-height: 1.5%;
}

.heading{
    font-size: 50px;
}

.roomdetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.roomdetails div {
    height: 40px;
    margin-top: 5%;
    font-weight: 700;
}

.material-symbols-outlined{
    width: 5%;
    margin-right: 5%;
}

.aling{
    display: flex;
    align-items: center;
}

.topBanne{
  display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
  padding-left: 500px;
}